
.red {
  color: red;
}
/*body::-webkit-scrollbar-thumb {
  background-color: #ccc;
  outline: 1px solid #eee;
}
*/
.availability-carousel {
  border-style: solid none solid none;
  border-width:1px;
  /*padding-top:20px;
  padding-bottom:20px;*/
}
.availability-container {
  width:200px;
  height:150px;
  border-style:solid;
  border-width:1px;
  /*padding:10px;*/
}
.user-status-container {
  position:absolute;
  top: 60px;
  right:100%;
  bottom:100px;
  left:90%;
}
.user-status {
  position:relative;
  display:inline-block;
  text-align: right;
}
.user-status-name {
  height:1.5;
  font-size:18px;
  color:green;
}
.user-info-box {
  border-style:solid;
  border-color:#ccc;
  border-width: 1px;
  text-align:center;
}


/*--------------Users Widget--------------*/

.user-content {
    margin-bottom: 30px;
}

.users-widget .user-content:after {
  clear: both;
}

.users-widget .user-footer  {
  margin-top: 5px;
}

.users-widget .user-footer:after,
.users-widget .user-footer:before {
  content: "";
  display: table;
  line-height: 0;
}

.users-widget .user-footer:after {
  clear: both;
}

.users-widget  .user-list {
  padding:0;
  margin:0;
}
ul.user-list {
  list-style: none;
}

.users-widget .user-list > li {
  position:relative;
  padding:10px 5px;
  border-bottom:1px dashed #eaeaea;
}

.users-widget .user-list  li.last-line {
  border-bottom:none;
}

.users-widget .user-list  li > .user-bell  {
  margin-left:10px;
}

.users-widget .user-list  li > .user-checkbox {
  float:left;
  width:30px;
}

.users-widget .user-list  li > .user-title  {
  overflow:hidden;
  margin-right:10px;
}

.users-widget .user-list  li > .user-config {
  position:absolute;
  top:10px;
  right:10px;
}

.users-widget .user-list  li .user-title .user-title-sp  {
  margin-right:5px;
}

.users-widget .user-list  li.user-done .user-title-sp  {
  text-decoration:line-through;
  color: #bbbbbb;
}

.users-widget .user-list  li.user-done  {
  background:#f6f6f6;
}

.users-widget .user-list  li.user-done:hover {
  background:#f4f4f4;
}

.users-widget .user-list  li:hover  {
  background:#f9f9f9;
}

.users-widget .user-list  li .user-config {
  display:none;
}

.users-widget .user-list  li:hover > .user-config {
  display:block;
  margin-bottom:0 !important;
}


// grid stuff

.split {
  display: flex; 
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 10px;
  margin-right: 10px;
}

.purpleHilite {
  color: #663399;
}

.tableContainer {
  display: block;
  position: relative;
}

/*ul {
  list-style-type: none;
  margin: 0px;
  margin-left: 0px;
  padding: 0px;
  padding-left: 5px;
}

li {
  margin: 0px;
  padding: 0px;
}
*/
.react-redux-grid-active, .react-redux-grid-inactive {
  margin: 5px;
  border-radius: 5px;
  background-color: #49b8dc;
}

.react-redux-grid-active {
  color: white;
  background-color: #644581;
}

.gridH2 {
  font-family: 'Bree Serif', serif;
  font-size: 18px;
  color: #49b8dc;
  font-weight: normal;
  margin: 0px;
  margin-bottom: 10px;
  padding: 0px;
  margin-top: 10px;
}


/*
:focus {
  border: none;
  outline: none;
};
*/


.simpleContainer {
  display: block;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
}

/* override React-Redux-Grid library */
.react-grid-pager-toolbar {
  height: 40px !important;
  padding: 5px !important;

}

.react-grid-header-fixed-container th {
  padding-left: 10px !important;
  background: transparent !important;
  overflow: visible !important;
}

.react-grid-pager-toolbar span {
  font-size: 12px !important;
  color: #666;
}

/* override Bootstrap library */
.bootstrap-description {
  height: 30px !important;
  margin: 5px !important;
}

.bootstrap-description span {
  font-size: 12px !important;
  color: #666;
}

.bootstrap-description button {
  margin-right: 10px;
}

.table-responsive thead  {
  display: none !important;
}

/* from grid, need to make it more specific
input[type="text"] {
  color: #000;
  height: 20px;
  border-radius: 5px;
  border-width: 0px;
  width: 100%;
  padding-left: 5px;
  background-color: #f9f9f9;
}
*/
.react-grid-edit {
  background-color: #e4e4e4 !important;
}

.react-grid-button-container {
  background-color: #e4e4e4 !important;
  padding: 5px !important;
}

.react-grid-cancel-button {
  margin-right: 5px;
  font-size: 12px;
  font-weight: bold;
}

.react-grid-save-button {
  font-size: 12px;
  font-weight: bold;
  background-color: #663399 !important;
}

.react-grid-sort-handle {
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding-left: 5px;
}

th {
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

button.react-redux-grid-active, button.react-redux-grid-inactive {
  border: none !important;
}

.price-data {
  color: green;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.token-data {
  color: green;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}


/* 
  card stuff
*/

h5 {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
    margin: 0;
}

.card {
  font-size: 1em;
  overflow: hidden;
  padding: 0;
  margin: 8px 0 8px 0;
  border: none;
  border-radius: .28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  .glyphStyle {
    font-size: '80px';
    margin-top: '0px';
    margin-bottom: '-20px';
  }

  .spanStyle {
    display: 'flex';
    align-items: 'center';
    padding-right: '30px';
  }

  .cardStyle {
    max-width: '100%';
    box-shadow: '0 4px 8px 0 rgba(0,0,0,0.2)';
    transition: '0.3s';
    /*width: 100%;*/
  }

  .cardFlex {
    max-height: '40%';
    display:'flex';
    flex-direction: 'row';
    justify-content: 'space-between';
  }

  .infoRow{
    width: '60%';
    display:'flex';
    flex-direction: 'column';
    align-items: 'flex-start';
    justify-content: 'center';
  }

  .buttonFlex {
    color: 'blue';
    display: 'flex';
    justify-content: 'flex-end';
  }
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}

.card-style {
  max-width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  /*width: 100%;*/
}


.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}

.card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}

.profile {
    position: absolute;
    top: -12px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 50%;
}

.profile-avatar {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
}

.profile-inline ~ .card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}

.text-bold {
    font-weight: 700;
}

.meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

.meta a {
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
}

.meta a:hover {
    color: rgba(0, 0, 0, .87);
}

.box > .icon { text-align: center; position: relative; }
.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #63B76C; vertical-align: middle; }
.box > .icon:hover > .image { background: #333; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; -webkit-transform:rotate(360deg) scale(1.5); -moz-transform:rotate(360deg) scale(1.5); -o-transform:rotate(360deg) scale(1.5); -ms-transform:rotate(360deg) scale(1.5); transform:rotate(360deg) scale(1.5); }
.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
.box > .icon:hover > .image > i { color: white !important; }
.box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; }
.box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
.box > .icon > .info > h3.title { font-family: "Roboto",sans-serif !important; font-size: 16px; color: #222; font-weight: 500; }
.box > .icon > .info > p { font-family: "Roboto",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}
.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
.box > .icon > .info > .more a { font-family: "Roboto",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
.box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #63B76C; }
.box .space { height: 30px; }

//   end card stuff


@keyframes blinker {
  50% { opacity: 0.1; }
}

/*
  Tweaking some CSS for
  getting it work with react-widgets
*/
form ul li:first-child {
  text-align: left;
}

form ul li {
  padding: 0;
  background-image: none;
  display: inline-block;
}

form > div > div {
  border: none;
}

form > div > div > * {
  height: 50px;
}

form > div > div > span:before {
  display: none;
}

form .rw-list {
  border: none;
}

form .rw-popup-container {
  border: none;
}
    
.question-panel {
  max-height: 300px;
  min-height: 300px;
  overflow-y: scroll;
}

.question-body {
  font-size:2em;
}

.fat {
  font-size:80px;
}

//.input-range {
//  margin-bottom: 160px;
//}
