.dog {
	color: purple;
}
/*body::-webkit-scrollbar-thumb {
  background-color: #ccc;
  outline: 1px solid #eee;
}
*/
.availability-carousel {
  border-style: solid none solid none;
  border-width:1px;
  /*padding-top:20px;
  padding-bottom:20px;*/
}
.availability-container {
  width:200px;
  height:150px;
  border-style:solid;
  border-width:1px;
  /*padding:10px;*/
}
.user-status-container {
  position:absolute;
  top: 60px;
  right:100%;
  bottom:100px;
  left:90%;
}
.user-status {
  position:relative;
  display:inline-block;
  text-align: right;
}
.user-status-name {
  height:1.5;
  font-size:18px;
  color:green;
}
.user-info-box {
  border-style:solid;
  border-color:#ccc;
  border-width: 1px;
  text-align:center;
}


/*--------------Users Widget--------------*/

.user-content {
    margin-bottom: 30px;
}

.users-widget .user-content:after {
  clear: both;
}

.users-widget .user-footer  {
  margin-top: 5px;
}

.users-widget .user-footer:after,
.users-widget .user-footer:before {
  content: "";
  display: table;
  line-height: 0;
}

.users-widget .user-footer:after {
  clear: both;
}

.users-widget  .user-list {
  padding:0;
  margin:0;
}
ul.user-list {
  list-style: none;
}

.users-widget .user-list > li {
  position:relative;
  padding:10px 5px;
  border-bottom:1px dashed #eaeaea;
}

.users-widget .user-list  li.last-line {
  border-bottom:none;
}

.users-widget .user-list  li > .user-bell  {
  margin-left:10px;
}

.users-widget .user-list  li > .user-checkbox {
  float:left;
  width:30px;
}

.users-widget .user-list  li > .user-title  {
  overflow:hidden;
  margin-right:10px;
}

.users-widget .user-list  li > .user-config {
  position:absolute;
  top:10px;
  right:10px;
}

.users-widget .user-list  li .user-title .user-title-sp  {
  margin-right:5px;
}

.users-widget .user-list  li.user-done .user-title-sp  {
  text-decoration:line-through;
  color: #bbbbbb;
}

.users-widget .user-list  li.user-done  {
  background:#f6f6f6;
}

.users-widget .user-list  li.user-done:hover {
  background:#f4f4f4;
}

.users-widget .user-list  li:hover  {
  background:#f9f9f9;
}

.users-widget .user-list  li .user-config {
  display:none;
}

.users-widget .user-list  li:hover > .user-config {
  display:block;
  margin-bottom:0 !important;
}


// grid stuff

.split {
  display: flex; 
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 10px;
  margin-right: 10px;
}

.purpleHilite {
  color: #663399;
}

.tableContainer {
  display: block;
  position: relative;
}

ul {
  list-style-type: none;
  margin: 0px;
  margin-left: 0px;
  padding: 0px;
  padding-left: 5px;
}

li {
  margin: 0px;
  padding: 0px;
}

.react-redux-grid-active, .react-redux-grid-inactive {
  margin: 5px;
  border-radius: 5px;
  background-color: #49b8dc;
}

.react-redux-grid-active {
  color: white;
  background-color: #644581;
}

.gridH2 {
  font-family: 'Bree Serif', serif;
  font-size: 18px;
  color: #49b8dc;
  font-weight: normal;
  margin: 0px;
  margin-bottom: 10px;
  padding: 0px;
  margin-top: 10px;
}



:focus {
  border: none;
  outline: none;
};



.simpleContainer {
  display: block;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
}

/* override React-Redux-Grid library */
.react-grid-pager-toolbar {
  height: 40px !important;
  padding: 5px !important;

}

.react-grid-header-fixed-container th {
  padding-left: 10px !important;
  background: transparent !important;
  overflow: visible !important;
}

.react-grid-pager-toolbar span {
  font-size: 12px !important;
  color: #666;
}

/* override Bootstrap library */
.bootstrap-description {
  height: 30px !important;
  margin: 5px !important;
}

.bootstrap-description span {
  font-size: 12px !important;
  color: #666;
}

.bootstrap-description button {
  margin-right: 10px;
}

.table-responsive thead  {
  display: none !important;
}

input[type="text"] {
  color: #000;
  height: 20px;
  border-radius: 5px;
  border-width: 0px;
  width: 100%;
  padding-left: 5px;
  background-color: #f9f9f9;
}

.react-grid-edit {
  background-color: #e4e4e4 !important;
}

.react-grid-button-container {
  background-color: #e4e4e4 !important;
  padding: 5px !important;
}

.react-grid-cancel-button {
  margin-right: 5px;
  font-size: 12px;
  font-weight: bold;
}

.react-grid-save-button {
  font-size: 12px;
  font-weight: bold;
  background-color: #663399 !important;
}

.react-grid-sort-handle {
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding-left: 5px;
}

th {
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

button.react-redux-grid-active, button.react-redux-grid-inactive {
  border: none !important;
}

